* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
}


.container {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: aqua;
}


form {
  background-color: rgb(41 47 165 / 69%);
  padding: 11rem;
}
form p {
  font-weight: 900;
  display: flex;
  justify-content: center;
}

form input {
  margin: 1rem;
  display: flex;
  width: 100%;
  height: 2rem;
}

form button {
  font-size: 1rem;
  color: blue;
  font-weight: 800;
  display: flex;
  margin: 1rem auto;
  width: 6rem;
  height: 2rem;
  justify-content: center;
}
